body, header, nav, ul, li, section, article, h1, h2, aside, a, p, div, footer, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: tahoma, sans-serif;
    background-image: url(../images/background-flowers.jpg);
    background-repeat: repeat;
}

#wrapper {
  width: 80%;
  margin: 0 auto;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

body #wrapper>header {
    flex: 1 100%;
    order: -1;
}

footer {
    flex: 1 100%;
    order: 10;
}

body aside.left {
    flex: 1;
    margin-bottom: 2%;
}

body aside.right {
    flex: 1;
    order: 3;
    margin-bottom: 2%;
}

body section {
    flex: 4;
    margin: 0 2% 5% 2%;
    height: 100%;
    padding: 1% 0 2% 1%;
}

#wrapper>header, aside, section, footer {
    background-color: rgba(254, 227, 229, 0.9);
    border: 2px solid black;
}

#wrapper>header {
    padding: 2%;
    margin-bottom: 10px;
}

    #wrapper>header h1 a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        padding-bottom: 2%;
    }

    #wrapper>header h1 a span {
        color: black;
        font-size: 1.5em;
    }

    header h1 a img {
        width: 20%;
        height: 10%;
        margin-top: 10px;
    }

header nav>ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

    header nav ul li {
        background-color: #eb2a7b;
        border: 1px solid black;
        padding: 10px 0;
        margin-left: 1%;
        width: 150px;
        text-align: center;
    }

    header nav ul li a {
        color: white;
        text-decoration: none;
    }

aside.left {
    padding: 10px;
}
    aside.left a {
        color: black;
        text-decoration: none;
    }

    aside.left a img {
        display: inline-block;
        vertical-align: middle;
    }

    aside.left a span {
        vertical-align: -15%;
    }

aside.right {
    padding: 15px 10px;
}

aside ul {
    list-style-type: none;
}

#wrapper section article header h1 {
    font-size: 1.7em;
    padding: 2% 0 2% 0;
}

#wrapper section div img {
    width: 24%;
}

footer {
    height: 70px;
    text-align: center;
    margin-top: 10px;
}

    footer h2 {
        margin-top: 17px;
    }

    footer h2 a {
        font-size: 0.8em;
        color: black;
    }

@media only screen and (max-width: 960px) {
    #wrapper {
        width: 100%;
    }
    
    body section {
        margin: 0 2% 5% 2%;
        height: 100%;
        padding: 1% 0 2% 1%;
    }
    
    #wrapper section div img {
        width: 32.2%;
    }
}

@media only screen and (max-width: 780px) {
    header nav>ul {
        justify-content: space-around;
    }
    
    #wrapper>header h1 a {
        justify-content: space-around;
    }
    
    header h1 a img {
        width: 40%;
        height: 30%;
    }
    
    body aside.left {
        flex: 1 100%;
        order: 2;
        margin-bottom: 10px;
    }

    body aside.right {
        flex: 1 100%;
        order: 3;
        margin-bottom: 2%;
    }

    body section {
        flex: 1 100%;
        order: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 640px) {
    #wrapper>header h1 a {
        text-align: center;
        flex-direction: column;
        align-items: center;
        height: 150px;
    }
    
    header h1 a img {
        width: 60%;
        height: 40%;
    }
    
    #wrapper>header h1 a span {
        font-size: 1.2em;
    }
    
    header nav>ul {
        margin-left: 15%;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
    }
    
    header nav ul li {
        background-color: #eb2a7b;
        border: 1px solid black;
        padding: 10px 0;
        margin-left: 1%;
        width: 80%;
        text-align: center;
    }
    
    #wrapper section div img {
        width: 49%;
    }
    
    footer h2 {
        font-size: 1.1em;
        color: black;
    }
}