html, body, head, title, img {
        margin: 0;
        padding: 0;
    }

#circle {
    margin-top: 4px;
    margin-left: 8px;
    width: 494px;
    height: 494px;
    background: yellow;
    border-radius: 100%;
    border: 3px solid black;
    position: relative;
}

.eyes{
    width: 94px;
    height: 94px;
    background: white;
    border: 3px solid black;
    border-radius: 100%;
    position: absolute;
}

.left-eye {
    top: 89px;
    left: 89px;
}

.right-eye {
    top: 89px;
    right: 105px;
}

.pupils {
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 100%;
}

.first-pupil {
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 50px;

}

#nose  {
    width: 74px;
    height: 74px;
    background-color: red;
    border: 3px solid black;
    border-radius: 100%;
    position: absolute;
    left: 199px;
    bottom: 215px;
}

#mouth {
    width: 244px;
    height: 94px;
    border: 3px solid black;
    border-radius: 80px;
    background-color: white;
    position: absolute;
    bottom: 95px;
    left: 114px;
}

.teeth {
    width: 44px;
    height: 44px;
    border: 3px solid black;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    position: absolute;
    left: 72px;

}

.right-tooth{
    position: absolute;
    top: 0;
    left: 122px;
}


















